{
  apiKey: "AIzaSyDWxBCf-A_uCeRpzhwyrF8HaVqHLUzEu_o"
  authDomain: "decision-io.firebaseapp.com"
  databaseURL: "https://decision-io.firebaseio.com"
  projectId: "decision-io"
  storageBucket: "decision-io.appspot.com"
  messagingSenderId: "459036207338"
  appId: "1:459036207338:web:f3d9b0ac292b36220dcf93"
  measurementId: "G-T81P3BTJ1T"
}
