.application-list {
    background-color: green;
    margin-top: 150px;
}

.table2 {
  max-width: 864px;
}

.application-list .MuiPaper-root.MuiPaper-rounded {
  margin-left: calc(304px + 5vw);
}

table.MuiTable-root {
  border: 1px solid #CCCCCC;
}
