.application-list {
    /*background-color: rgb(0, 66, 128);*/
    margin-top: 150px;
}

.table2 {
  max-width: 864px;
}

.MuiPaper-root.MuiPaper-rounded {
  margin-left: calc(60px + 5vw);
}

table.MuiTable-root {
  border: 1px solid #CCCCCC;
}
