:root {
  --header-height: 56px;
}

.header-container {
  position: fixed;
  height: var(--header-height);
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 100;

  background: #000000;
  border-bottom: 1px solid #cccccc;
}

/*
The margin-left is the same as maxWidth for the navbar in navigation.jsx
Make it a variable... how?
*/
.header2-container {
  position: fixed;
  height: calc(var(--header-height) + 2px);
  left: 0px;
  right: 0px;
  top: 0px;
  margin-top: var(--header-height);
  margin-left: 300px;

  background: #ffffff;
  border: 1px solid #cccccc;
  z-index: 100;
}

.Arbitrium {
  position: absolute;
  width: 97px;
  height: 28px;
  left: 32px;
  top: 14px;

  /* H5/ Roboto Regular 24 */
  float: right;
  font-family: Tungsten-Semibold;
  letter-spacing: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 28px;

  text-transform: uppercase;

  color: #ffffff;
}
.UserDisplay {
  margin-top: 14px;
  margin-right: 14px;
  height: 28px;
  left: 32px;
  top: 14px;

  /* H5/ Roboto Regular 24 */
  float: right;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #ffffff;
}
.logo-container {
  float: left;
  display: inline-block;
}
