.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  width: 300px;
  background: white;
  color: blue;
  z-index: 100;
}

.tagline {
  font-size: 0.7em;
  color: #888888;
}
